body {
    font-family: 'Architects Daughter', cursive;
    background: black;
    color: white;
    width: 100%;
}

#heading {
    position: absolute;
    width: 100%;
    height: auto;
    left: 200px;
    top: 0px;
    z-index: -1;
}

#heading-img {
    width: 100%;
    height: 30vw;
    opacity: 0.5;
}

#heading-text {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-gap: 50px;
    width: 100%;
    height: auto;
    position: absolute;
    font-family: 'Parisienne', cursive;
    top: 18vw;
    left: 0vw;
    z-index: 2;
}

#ln-logo {
    min-width: 200px;
    width: 200px;
    height: auto;
}

#heading-title {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    font-size: 25px;
    color: silver;
    z-index: 2;
}

#heading-quote {
    grid-column: 2;
    grid-row: 1;
    font-size: 25px;
    z-index: 2;
    font-style: italic;
    letter-spacing: 2px;
}

#navbar {
    position: fixed;
    height: 100%;
    min-width: 200px;
    width: 200px;
    color: black;
    background-color: whitesmoke;
    top: 0px;
    left: 0px;
}

#navbar header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
}

#navbar li {
    list-style: none;
    padding: 10px;
    position: relative;
    width: 100%;
}

#navbar a {
    color: gray;
    text-decoration: none;
}


#navbar a:hover {
    color: darkslategray;
    text-decoration: underline;
}

#main-doc {
    position: absolute;
    top: 30vw;
    margin-left: 250px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#paris {
    grid-area: 1 / 1 / 3 / 2;
}

#rome {
    grid-area: 3 / 1 / 5 / 2;
}

#tokyo {
    grid-area: 1 / 3 / 3 / 4;
}

#barcelona {
    grid-area: 3 / 3 / 5 / 4;
}

#dubai {
    grid-area: 2 / 2 / 4 / 3;
}

.main-section {
    background: rgb(185, 230, 218, 0.1);
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 400px;
    margin: auto;
}

.main-section header {
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
}

@media only screen and (max-width: 800px) {

    #ln-logo {
        min-width: 120px;
        width: 120px;
        height: auto;
    }

    #navbar {
        min-width: 120px;
        width: 120px;
        font-size: 3vw;
        top: 0px;
        margin-top: 35px;
        left: 0px;
        color: black;
        background-color: white;
        padding: 0px 0px;
    }

    #navbar header {
        display: none;
    }

    #navbar li {
        right: 25px;
    }

    #heading-text {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-gap: 50px;
        grid-auto-rows: minmax(100px, auto);
        width: 100%;
        height: auto;
        position: absolute;
        top: 18vw;
        z-index: 2;
    }

    #heading-title {
        font-size: 2vw;
    }

    #heading-quote {
        font-size: 1vw;
    }

    #heading {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0px;
        z-index: -1;
    }

    #main-doc {
        position: absolute;
        top: 35vw;
        padding: 20px;
        display: block;
    }

    .main-section {
        background: rgb(230, 255, 255, 0.1);
        padding: 2.5rem 2.5rem;
        border-radius: 2rem;
        width: 200px;
        margin: auto;
        font-size: 8px;
    }

    .main-section header {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 20px;
    }
}